h1,
h2,
h3,
body,
p {
  margin: 0;
}

h1 {
  font-family: "Playfair Display", serif;
  font-weight: normal;
  font-size: 48px;
  color: #eeeeef;
}

h1 span {
  font-weight: bold;
}

h3 {
  font-weight: normal;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

p {
  font-family: "Open Sans", sans-serif;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
}

li {
  padding-bottom: 20px;
}

body {
  background: #eeeeef;
  overflow-x: hidden;
}

header {
  background: #272e39;
  padding: 32px 64px;
  width: 100vw;
}

/* Ajustes para meu desktop */

header > img {
  width: 250px;
  height: 250px;
}

main {
  padding: 40px 70px;
  display: flex;
}

.dados {
  display: inline-block;
  margin-bottom: 16px;
}

.foto {
  border: 15px solid #272e39;
  border-radius: 50%;
  margin-bottom: -120px;
  margin-right: 30px;
}
.profissao {
  font-size: 16px;
}

.t70 {
  color: #eeeeef;
}
.t60 {
  color: #272e39;
}

.coluna-menor {
  margin-top: 48px;
  width: 280px;
}

.linha {
  width: 80px;
  border-top: 2px solid;
  margin-top: 8px;
}

.experiencias .linha {
  border-color: #947ffe;
}
.formacao .linha {
  border-color: #51fb7c;
}

.coluna-menor img {
  width: 40px;
  height: 40px;
  border-radius: 4px;
  margin-right: 8px;
}

.coluna-menor li {
  display: flex;
  margin-top: 32px;
}

.conteudo {
  display: inline-block;
}

.coluna-maior {
  margin-left: 32px;
}

.habilidades {
  display: Flex;
  flex-wrap: wrap;
}

.coluna-maior h2 {
  margin-top: 20px;
  font-size: 48px;
  margin-bottom: 20px;
  margin-left: 18px;
}

.habilidade {
  background: white;
  border-radius: 16px;
  padding: 24px;
  margin: 12px;
  width: 288px;
}

.habilidade h3 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 16px;
}

.habilidade p {
  font-size: 20px;
}

.progresso {
  width: 100%;
  display: flex;
}

.barra {
  width: 20%;
  margin-top: 8px;
  height: 4px;
  background: #6272a4;
}

.incompleto {
  opacity: 0.2;
}

.habilidade li {
  margin-top: 16px;
}

.habilidade li:nth-child(1) {
  margin-top: 0;
}

.ajuste-fino {
  width: 380px;
  height: 250px;
}

.projetos .projeto {
  display: flex;
}

.card {
  width: 392px;
  padding: 24px;
  background-color: white;
  border-radius: 8px;
  margin: 12px;
}

.card a {
  display: inline-block;
  text-decoration: none;
  background-color: #bd93f9;
  color: white;
  padding: 8px 24px;
  font-family: "Open Sans", sans-serif;
  border-radius: 4px;
  font-weight: 600;
  text-align: center;
  margin-top: 24px;
}

.card a:hover {
  background: #a97ce8;
  transition: 0.7;
}

.projeto h3 {
  font-size: 24px;
  font-weight: bold;
  color: #282a36;
}

.projeto p {
  margin-top: 16px;
  margin-bottom: 24px;
}

footer {
  background: #272e39;
  color: rgba(255, 255, 255, 0.8);
  padding: 57.6px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  width: 100vw;
  text-align: center;
}
